:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body { margin: 0; display: flex; place-items: center; min-width: 320px; min-height: 100vh; }

#root { max-width: 1280px; margin: 0 auto; padding: 2rem; text-align: center; }

.card-lista {
  background-color: #1a1a1a;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 20px;
  text-align: left;
}

.usuario-row {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.btn-activo {
  background: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.btn-eliminar {
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
}